<h2><%= current_user.name %>'s Profile</h2>
<hr>
<h4>Update your profile</h4>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for @user, url: profile_path do |f| %>

                <div class="field">
                <%= f.label :email, class: "label" %>
                <%= f.email_field :email, class: "text" %> 

                <%= f.submit "Save Changes", class: "save" %>
           <% end %>
<hr>

<p class="description">Click to choose from "All issues" to filter your movie recommendations</p>

<div class="issues1">
<h3>Your issues</h3>
    <div class="col-sx-4">
        <% current_user.issues.each do |issue| %>
            <%= link_to issue.keyword, removeissue_path(issue), method: :delete, class: "issue-have btn btn-info-outline" %>
        <% end %>
    </div>
</div>

<div class="issues2">
<h3>All issues</h3>
    <div class="col-sx-4">
        <% current_user.unassigned_issues.each do |issue| %>
            <%= link_to issue.keyword, addissue_path(issue), method: :post, class: "issue-not btn btn-info-outline" %>
        <% end %>
    </div>
</div>
