<% if !current_user %>
    <div class="jumbotron">
        <h1>Inlite</h1>
        <h3>watch movies for GOOD</h3>
        <h4>Things I can DO with movies</h4>
        <p> A Combination of Cinema Therapy and CBT techniques, integrated in a Chatbot and developed with Therapists is innovative in the field. 
            Cinema Therapy is a technique that encourages viewers to discover their maladaptive beliefs, problematic thoughts, and feelings while discussing movie characters and stories. 
            Treatment begins with watching a movie and is followed by exercises and video tutorials with the chatbot to track and reflect movie's effect on the viewer.</p>
        <p><%= link_to "Sign Up Now", new_user_path, class: "btn btn-primary btn-lg" %></p>
    </div>
<% end %>

    <div class="row">   
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <%= image_tag("https://i.imgur.com/d0SuuF9.jpg", alt: "Movie picture", class: "movie-image") %>
            </div>
            <div class="thumbnail">
                <%= image_tag("https://i.imgur.com/HwNj0Cw.jpg", alt: "Movie picture", class: "movie-image") %>
            </div>  
            <div class="thumbnail">
                <%= image_tag("https://i.imgur.com/NQmDWGJ.jpg", alt: "Movie picture", class: "movie-image") %>
            </div>
            <div class="thumbnail">
                <%= image_tag("https://i.imgur.com/SdUuZry.jpg", alt: "Movie picture", class: "movie-image") %>
            </div>
        </div>
    </div>
