<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "Inlite", root_path, class: "navbar-brand" %>
        </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <%# <li><%= link_to "Movies", movies_path %>
                <%# <li><%= link_to "User Dashboard", movie_path(movie) %>
                Welcome, <%= current_user.name %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to 'Log Out', session_path('dummy'), method: :delete, class: "btn btn-default navbar-btn"%>
              <% else %>
                <%= link_to 'Log In', login_path, class: "btn btn-default navbar-btn" %>
                &nbsp;&nbsp;
                <%= link_to 'Sign Up', new_user_path, class: "btn btn-default navbar-btn" %>
              <% end %>
            </ul>
            <div class="navbar-form" role="search">
                <%= form_tag movies_path, :method => 'get' do %>
                    <%= text_field_tag :search, params[:search] %>
                    <%= submit_tag "Search" %>
                <% end %>
            </div>
          </div>
      </div>
    </nav>