<!DOCTYPE html>
<html>
  <head>
    <title>Inlite</title>
    <%= csrf_meta_tags %>

    <!-- jQuery below -->
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %>

    <!-- Bootstrap below -->
     <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
     <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>

    <!-- custom JS and CSS below -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Inlite", root_path, class: "navbar-brand" %>
        </div>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                Welcome, <%= current_user.name %>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
              <% else %>
                <%= link_to 'Log In', login_path, class: "btn btn-default navbar-btn" %>
                &nbsp;&nbsp;
                <%= link_to 'Sign Up', new_user_path, class: "btn btn-default navbar-btn" %>
              <% end %>
            </ul>
          </nav>
      </div>
    </header>
    

    <section class="app-cont">
      <%= yield %>
    </section>

    

  </body>
</html>
