<!DOCTYPE html>
<html>
  <head>
    <title>Inlite</title>
    <%= csrf_meta_tags %>

    <!-- jQuery below -->
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %>

    <!-- Bootstrap below -->
     <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
     <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>

    <!-- custom JS and CSS below -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    
    <%= render "layouts/header" %>

    <div class="container">
      <%= yield %>
    </div>

    

  </body>
</html>
